/* Color Theme Swatches in Hex */
.The-Green-Island,-Pt.-III-1-hex { color: #F2E635; }
.The-Green-Island,-Pt.-III-2-hex { color: #BF9F3F; }
.The-Green-Island,-Pt.-III-3-hex { color: #D99D55; }
.The-Green-Island,-Pt.-III-4-hex { color: #F2D1B3; }
.The-Green-Island,-Pt.-III-5-hex { color: #D9ACA3; }
